include MANIFEST.in
include AUTHORS
include LICENSE
include README.creole
include tox.ini

recursive-include django_cms_tools *.py
recursive-include django_cms_tools_test_project *.py
recursive-include django_cms_tools_tests *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

include requirements.txt
recursive-include requirements *.txt

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
